{% extends "base.html"  %} 
{% set active_page = "home" %}
{% block content %}
  
<br>

<form method="POST" action="/">
  <div class="form-group">
    {{ form.csrf_token }}
    {{ form.place.label }}
    {{ form.place(class_="form-control") }}
    </div>
    <button id="find_places" type="submit" class="btn btn-primary">
      Submit
    </button>
  
</form>

<br>

<p id='first_p' style='display:none'>Finding wedding websites in the area...</p>
<p id='second_p' style='display:none'>Looking for things to do...</p>
<p id='third_p' style='display:none'>Aggregating results...</p>
<p id='fourth_p' style='display:none'>Hang tight...</p>

{% endblock %}