{% extends "base.html"  %} 
{% set active_page = "home" %}
{% block content %}

<br>
<h1>Things to do in {{ place_text }}</h1>
<br>
{% if places_lst == []%}
<p>No upcoming weddings found in that area... Check the spelling or try a different place</p>
{% else %}
<div class="card-columns">
  {%for heading, site, place, place_image, couples_names, wedding_date, description in places_lst %}
  <div class="card">
    {%if place_image != 'No image'%}
    <img class="card-img-top" src="{{place_image}}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{heading}}</h5>
      {% autoescape false %} 
      <p class="card-text">{{description}}</p>
      {% endautoescape %}
      <p class="card-text"><small class="text-muted">Recommendation by {{couples_names}}</small></p>
      <p class="card-text"><small class="text-muted">{{wedding_date}}</small></p>
      <a href="{{site}}" class="btn btn-light" target=”_blank”>View Wedding Website</a>
    </div>
  </div>
  {%endfor%}
</div>
{% endif %}

{% endblock %}